<%- include('partials/header.ejs')  %>

    <!-- Home Section -->

    <section id="main" class="home">
        <div class="container">

            <h1>Bias In Recruitment </h1>
            <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">
            <h2> You have to choose 3 applicants!</h2>
            <div class="buttons-div">
                <a href="/choose-cvs-first" class="button first-button"> Try again </a>
            </div>
            

        </div>
    </section>

<%- include('partials/footer.ejs')  %>