<%- include('partials/header.ejs')  %>

    <!-- Home Section -->

    <section id="main" class="home">
        <div class="container">

            <h1>Bias In Recruitment </h1>
            <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">
            <iframe src="https://drive.google.com/file/d/19wn7VtZX4Sp0itNC5uRJX395eTwZOl3z/preview" style="margin-top: 30px;" height="300px" width="500px" allow="autoplay"></iframe>
            <h2> 
                We forgot to tell you, the original CVs and the blind CVs are the same. Do you want it know if your decisions remain the same?
            </h2>
            <div class="buttons-div">
                <a href="/comparison" class="button first-button"> Show me </a>
            </div>
            

        </div>
    </section>

<%- include('partials/footer.ejs')  %>