<%- include('partials/header.ejs')  %>

<!-- Home Section -->
<section id="main" class="home">
    <div class="container">
        
        <h1>Bias In Recruitment </h1>
        <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">

        <iframe src="https://drive.google.com/file/d/1iysBSZyAXKu5jnRtwoFbbDnA0GPhn3_1/preview" style="margin: 30px auto; display: block;" height="300px" width="500px" allow="autoplay"></iframe>

        <a href="/" class="button first-button">Thank You!</a>
    </div>
</section>
 <%- include('partials/footer.ejs')  %>