<%- include('partials/header.ejs')  %>

    <!-- Home Section -->

    <section id="main" class="robot">
        <div class="container">

            <h1>Bias In Recruitment </h1>
            <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">
            <h2 style="margin-top: 60px;"> Training the data, let us see what the algorithm recommends
            </h2>

            <div class="lds-facebook"><div></div><div></div><div></div></div>

            <img src="/img/robot.png" style="margin-top: 50px; margin-right: 30px;" alt="">

            
            <div class="buttons-div">
                <a href="/ai-choices" class="button first-button"> Next </a>
            </div>
            

        </div>
    </section>


<%- include('partials/header.ejs')  %>