<%- include('partials/header.ejs')  %>

<!-- Home Section -->
<section id="main" class="home">
    <div class="container">
        
        <h1>Bias In Recruitment </h1>
        <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">
        <iframe src="https://drive.google.com/file/d/10Zzq5z_ZB8s8vwhPvlS2DIKxApaeVLz-/preview" style="margin-top: 30px;" height="300px" width="500px" allow="autoplay"></iframe>
        <h2> You will be working as an HR Manager for a technology company in Utrecht.
            Soon you will meet the hiring manager to describe the role. Click next
        </h2>
        <div class="buttons-div">
            <a href="/intro-manager" class="button first-button"> Next </a>
        </div>

    </div>
</section>

 <%- include('partials/footer.ejs')  %>