<%- include('partials/header.ejs')  %>

<!-- Home Section -->

<section id="main" class="home">
  <div class="container">

    <h1>Bias In Recruitment </h1>
    <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">
    
    <iframe src="https://drive.google.com/file/d/13Gx8H6WjgXhbi30tAjcrcdSEzMV8g25j/preview" style="margin-top: 30px;" height="300px" width="500px" allow="autoplay"></iframe>
    <h2> We want you to help us hire an experienced “Product Manager” to join the team. Here is the description of the tasks required from this position. 
    </h2>
    <!-- Button trigger modal -->
    <button type="button" class="button first-button" style="margin-top: 30px;" data-toggle="modal" data-target="#exampleModal">
        Read job description
    </button>
      
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Job Description</h5>
            </div>
            <div class="modal-body">
                The Product Manager is responsible for product planning strategy. This includes managing the product throughout the Product Lifecycle, gathering and prioritizing product and customer requirements, defining the product vision, and working closely with engineering, to deliver winning products. The Product Manager’s job also includes ensuring that the product and marketing efforts support the company’s overall strategy and goals.
                <hr>
                The Product Manager is expected <br>
                Define the product strategy and roadmap<br>
                Develop the core positioning and messaging for the product<br>
                Perform product demos to customers<br>
                Set pricing to meet revenue and profitability goals<br>
                Propose an overall budget to ensure success<br>
                Brief press and analysts and go on press tours<br>
                Act as a leader within the company<br><hr>

                Requirements:
                Minimum of 7 years experience as a Product Manager<br>
                Demonstrated success defining and launching excellent digital products<br>
                Excellent written and verbal communication skills<br>
                Technical background, with experience in Design, Data, or software development<br>
                Experience in Agile methodology<br>
                Customer focused, with leadership and negotiation skills<br>
                Experience in software is a plus<br>
                Examples and at least one sample of an effective document delivered in the past<br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    <h2>We received couple of CVs for this job position. Could you help us choose some?</h2>

    <div class="buttons-div">
        <a href="/choose-cvs-first" class="button first-button"> Next </a>
    </div>

  </div>
</section>

<%- include('partials/footer.ejs')  %>