<%- include('partials/header.ejs')  %>

    <!-- Home Section -->

    <section id="main" class="home">
        <div class="container">

            <h1>Bias In Recruitment </h1>
            <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">
            <h2> We want to help you by automating this process. Machine Learning can help you pick up the right candidate for a job description. 
            </h2>
            <div class="buttons-div">
                <a href="/machine-learning-choices" class="button first-button"> Ok </a>
            </div>
            

        </div>
    </section>

<%- include('partials/footer.ejs')  %>